# Ignore node_modules directory
__pycache__
*.pyc
# Ignore Python bytecode files
*.pyo

venv
.env
mydatabase.sqlite3
logs
.coverage
try.py
docker-compose.yml
start.sh
clear_ledger_transactions.sqlite3-query
TODO.md
.vscode/launch.json
supervisord.conf